.spa {
    color: black;
    margin-left: 40%; 

}

.sp {
    color: black
}

.top-tool {
    background: rgb(33, 151, 197);
    background: radial-gradient(circle, rgb(255, 255, 255) 10%, rgb(23, 129, 143) 100%);
    

}